@using Nop.Core
@using Nop.Plugin.Payments.RayanWallet.Models
@using Nop.Web.Framework.Models.DataTables
@inject Nop.Core.Domain.Common.AdminAreaSettings adminAreaSettings
@inject Nop.Services.Stores.IStoreService storeService
@inject Nop.Services.Common.IGenericAttributeService genericAttributeService
@inject IWorkContext workContext
@{
    var stores = storeService.GetAllStores();
}
<form asp-controller="PaymentRayanWallet" asp-action="List" method="post" id="wallet-list-form">
    <div class="panel-group advanced-setting">
        <div class="panel panel-default">
            <div class="panel-body">
                <p>
                    <b>@T("Plugins.Payment.RayanWallet.DescriptionList")</b>
                </p>
                @await Html.PartialAsync("Table", new DataTablesModel
                {
                    Name = "wallet-list-grid",
                    UrlRead = new DataUrl("WalletCustomerList", "PaymentRayanWallet", null),
                    UrlDelete = new DataUrl("DeleteWallet", "PaymentRayanWallet", null),
                    Length = Model.PageSize,
                    LengthMenu = Model.AvailablePageSizes,
                    ColumnCollection = new List<ColumnProperty>
                           {
                           new ColumnProperty(nameof(WalletCustomerModel.UserName))
                           {
                               Title = T("Plugins.Payments.RayanWallet.UserName").Text,
                               Width = "200"
                           },
                           new ColumnProperty(nameof(WalletCustomerModel.Amount))
                           {
                               Title = T("Plugins.Payments.RayanWallet.Amount").Text,
                               Width = "200"
                           },
                            new ColumnProperty(nameof(WalletCustomerModel.Active))
                           {
                               Title = T("Plugins.Payments.RayanWallet.Active").Text,
                               Width = "200"
                           },
                           new ColumnProperty(nameof(WalletCustomerModel.Id))
                           {
                               Title = T("Admin.Common.Edit").Text,
                               ClassName = NopColumnClassDefaults.Button,
                               Width = "100",
                               Render = new RenderCustom("renderColumnEdit")
                           },
                           new ColumnProperty(nameof(WalletCustomerModel.Id))
                           {
                               Title = T("Admin.Common.Delete").Text,
                               ClassName = NopColumnClassDefaults.Button,
                               Render = new RenderButtonRemove(T("Admin.Common.Delete").Text),
                               Width = "100"
                           }
                       }
                })
            </div>
            <div class="panel-footer">
                <button type="submit" id="btnAddNewRecord" class="btn btn-primary"
                        onclick="javascript:OpenWindow('@(Url.Action("AddWalletPopup", "PaymentRayanWallet", new {btnId = "btnRefresh", formId = "wallet-list-form"}))', 800, 800, true);return false;">
                    @T("Plugins.Payment.Faraz.AddRecord")
                </button>
                <input type="submit" id="btnRefresh" class="btn btn-default" style="display: none" />
            </div>
        </div>
    </div>
    <script>
        $(document)
            .ready(function () {
                $('#btnRefresh')
                    .click(function () {
                        //refresh grid
                        updateTable('#wallet-list-grid');

                        //return false to don't reload a page
                        return false;
                    });
            });

    function renderColumnEdit(data, type, row, meta) {
        return '<button onclick=\"javascript:OpenWindow(\'@Url.Action("EditWalletPaymentUser", "PaymentWallet")?id=' +
            data +
            '&btnId=btnRefresh&formId=payment-wallet-form\', 800, 800, true); return false;\" class="btn btn-default"><i class="fa fa-pencil"></i>@T("Admin.Common.Edit")</button>';
    }
    </script>

</form>
