@model Nop.Plugin.Payments.RayanWallet.Models.WalletCustomerModel

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />

@if (ViewBag.RefreshPage == true)
{
<script>
        try {window.opener.document.forms['@(Context.Request.Query["formId"])'].@(Context.Request.Query["btnId"]).click();}
        catch (e){}
        window.close();
</script>
}
<!--<form asp-controller="PaymentRayanWallet" asp-action="AddWalletCustomerPopup" method="post" id="add-edit-wallet">
    <div class="panel-group">
        <div class="panel panel-default panel-popup">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-sm-3">
                        <nop-label asp-for="UserName" />
                    </div>
                    <div class="col-sm-9">
                        <nop-editor asp-for="UserName" asp-postfix="@Model.UserName" />
                        <span asp-validation-for="UserName"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3">
                        <nop-label asp-for="Amount" />
                    </div>
                    <div class="col-sm-9">
                        <nop-editor asp-for="Amount" asp-postfix="@Model.Amount" />
                        <span asp-validation-for="Amount"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="Active" />
                    </div>
                    <div class="col-md-9">-->
@*<nop-override-store-checkbox asp-for="Active" asp-postfix="@Model.Active" />*@
<!--<input type="checkbox" name="Active" class="onoffswitch-checkbox" id="Active" checked="@Model.Active">
        <span asp-validation-for="Active"></span>
    </div>
</div>-->
@*<div class="form-group">
        <div class="col-md-9 col-md-offset-3">
            <input type="submit" name="save" class="btn bg-primary" value="@T("Admin.Common.Save")" />
        </div>
    </div>*@
<!--</div>
        </div>
    </div>
    <nop-alert asp-alert-id="getStatesByCountryIdAlert" asp-alert-message="@T("Admin.Common.Alert.States.Failed")" />
</form>-->
<div class="panel-group">
    <div class="panel panel-default panel-popup">
        <div class="panel-body">

            <div class="form-group">
                <div class="col-sm-3">
                    <nop-label asp-for="UserName" />
                </div>
                <div class="col-sm-9">
                    <nop-editor asp-for="UserName" />
                    <span asp-validation-for="UserName"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-3">
                    <nop-label asp-for="Amount" />
                </div>
                <div class="col-sm-9">
                    <nop-editor asp-for="Amount" />
                    <span asp-validation-for="Amount"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-3">
                    <nop-label asp-for="SourceId" />
                </div>
                <div class="col-sm-8">
                    <nop-editor asp-for="SourceId" />
                    <span asp-validation-for="SourceId"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-3">
                    <nop-label asp-for="Active" />
                </div>
                <div class="col-sm-9">
                    <nop-editor asp-for="Active" />
                    <span asp-validation-for="Active"></span>
                </div>
            </div>
        </div>
    </div>
</div>